body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: left;
	line-height: 20px;
	padding-right: 10px;
	text-indent: 0px;
	top: 10px;
}

.tittle {
	background-position: left top;
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 5px;
	border: none;
	clip:     rect(auto auto auto auto);
	width: 1100px;
	height: 200px;
	right: 0px;
	bottom: 0px;
}
.headTittle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height:25px;

}

.abstractTittle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height:25px;

}
.autorsTittle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height:20px;
}
.description {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	position: absolute;
	top: 100px;
	height: 600px;
	margin: auto;
	width: 1100px;
	text-align: justify;
}
.descriptionText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 20px;
	padding-right: 10px;
	text-indent: 0px;
	top: 10px;
}

.leyendared {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 15px;
	padding-left: 25px;
	padding-right: 25px;
	text-indent: 0px;
	top: 10px;
}

.leyenda3d {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 15px;
	padding-left: 105px;
	padding-right: 110px;
	text-indent: 0px;
	top: 10px;
}

.leyendatabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 15px;
	padding-left: 245px;
	padding-right: 245px;
	text-indent: 0px;
	top: 10px;
}

.locationTittle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	line-height:14px;
}
.logos {
	height: 100px;
	width: 120px;
	left: 980px;
	top: 0px;
	position: absolute;

}
.super {
	vertical-align: super;
	font-size: 8px;
}
.flujograma {
	height: 520px;
	width: 136px;
}
